* {
  box-sizing: border-box;
}

.footer {
  position: relative;
  background-color: #fff;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0px -1rem 4em -0.2em #efefef;
  padding: 2rem 0rem 2rem 0rem;
  color: #222;
  font-family: "Inter";
}

.footerLink {
  color: #222;
  text-decoration: none;
}
.footerLink:hover {
  text-decoration: underline;
}
