.card {
  margin: 0;
  font-size: 1.2rem;
  box-shadow: 0rem 0.7rem 2rem 0.4rem #efefef;
  border-radius: 1rem;
  background-image: linear-gradient(to bottom, #121212 0%, #323232 100%);
  color: #fff;
}

img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: auto;
}

.bottom-text {
  width: 100%;
  font-size: 18px;
  padding: 3rem;
}
