.imagecard {
  margin: 0;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: #222;
  box-shadow: 0rem 0.7rem 2rem 0.4rem #efefef;
}

img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: auto;
}

.bottom-text {
  width: 100%;
  font-size: 18px;
  padding: 3rem;
}
